<!-- <carousel [noPause]="true" [isAnimated]="true" style="margin-top: 0%;">
  <slide>
    <img src="assets/images/background.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/background3.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/background2.avif" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel> -->

<header>
  <h1>Village Development Project</h1>
</header>
<section class="hero">
  <div class="hero-content">
    <h2>Empowering Villages for a Better Tomorrow</h2>
    <p>
      Join us in our mission to uplift rural communities through sustainable
      development initiatives.
    </p>
    <a routerLink="/career" class="btn">Get Involved</a>
  </div>
</section>

