<header
  class="d-flex flex-md-row align-items-center justify-content-between p-1 px-4 mb-0 border-bottom shadow-sm"
>
  <img
    src="assets/images/AudreeLogo.png"
    alt="logo"
    class="logo"
    style="max-height: 70px"
    routerLink="/home"
  />

  <nav class="my-2 text-uppercase fs-5">
    <a
      *ngFor="let item of navbarMenus"
      class="p-2"
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ item.name }}</a
    >
  </nav>
  <div class="d-flex align-items-center">
    <ng-container *ngIf="service.currentUser$ | async as User">
      <a class="position-relative" routerLink="/course/courses-cart">
        <mat-icon class="me-5 mat-2x">shopping_cart</mat-icon>
        <div class="cart-no">{{ service.cartValue }}</div>
      </a>
      <div class="dropdown ms-3 me-5" style="cursor: pointer" dropdown>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item type="button" (click)="openModal(template)">
            <mat-icon>edit</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="service.logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</header>

<ng-template #template>
  <div class="modal-header align-items-center">
    <h4 class="modal-title pull-left">Profile Details</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p><b>Name:</b> {{ user?.displayName }}</p>
      <p><b>Email:</b> {{ user?.email }}</p>
      <p><b>Place:</b> {{ "Hyderabd" }}</p>
    </div>
  </div>
</ng-template>
