
.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
}

.table th, .table td {
  vertical-align: middle;
}

.btn-sm i {
  margin-right: 5px;
}

.btn-danger {
  color: #fff;
}

.d-flex {
  display: flex;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.cart-row{
  cursor: pointer;
}